<nav>
    <div class="site-title">
        <a href="/" class="href"><h1>Blog BOSS</h1></a>
        <p>a BOSS ALIN site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Boss</a></li>
    </ul>
</nav>